@model RoadScholar.Models.AmericanQuestionResponse

@{
    ViewBag.Title = "Display Submited American Question";
}

@Html.AntiForgeryToken()

@*<h2>Display Submited American Question</h2>

<h2> Room - @Model.RoomId </h2>
<h2> Phone - @Model.PhoneNumber </h2>
<h2> My Answer - @Model.Answer </h2>
<h2> qID - @Model.ActivityId </h2>*@

<h2>תשובתך נקלטה בהצלחה במערכת, שא ברכה</h2>