@{
    ViewBag.Title = Resources.HomePage;
}




<div class="jumbotron row col-xs-12">
    <div class="col-md-3 col-md-offset-1 hidden-xs">
        <img src="../../Content/iconLab.png" class="img-responsive" alt="@Resources.ImageNotFound" style="width:156px;height:154px;">
    </div>

    <div class="col-md-4 col-xs-12">
        <h1 align="center">@Resources.projectName</h1>
        <h3 align="center">@Resources.Accompanying</h3>
    </div>

    <div class="col-md-3 col-md-offset-1 hidden-xs">
        <img src="../../Content/smartGuy.gif" class="img-responsive" alt="@Resources.ImageNotFound" style="width:104px;height:150px;">
    </div>
</div>

<div class="row col-xs-12">
    <img src="../../Content/TheChosenOne.png" class="img-responsive" style="max-width:70%; margin: 0 auto;" alt="@Resources.ImageNotFound">
</div>

