@model RoadScholar.Models.AmericanQuestion
@{
    ViewBag.Title = Resources.HistoryForTheActivity + " \"" + Model.ActivityName + "\", " + TempData["StudentName"];
}

<h2>@ViewBag.Title</h2>

<u>@Resources.TheQuestion</u>
<br>
@Model.question
<br>
<br>
<u>@Resources.ThePossibleAnswers</u>
<br>
@Model.firstAnswer
<br>
@Model.secondAnswer
<br>
@Model.thirdAnswer
<br>
@Model.fourthAnswer
<br>
<br>
<u>@Resources.TheCorrectAnswer</u>
<br>
@Model.correctAnswer
<br>
<br>
<u>@Resources.TheExplanationIs</u>
<br>
@Model.explaination
<br>
<br>

<u>@Resources.StudentAnswer</u>

<br>
@TempData["StudentAnswer"]